#Panel {
  width: 244px;
  height: 311px;
  background-image: url('../../../assets/GUI_Game/Upper_Settings.png');
  background-size: cover;
}

.settingButton {
  background-size: cover;
  background-image: url('../../../assets/GUI_MainMenu/Subutton.png');
  background-color: transparent;
  width: 198px;
  height: 45px;
  position: relative;
  top: 20px;
  left: 0;
  margin-top: 6px;
  color: white;
  font-size: 15px;
  text-align: center;
  padding: 5px 10px;
  border: none;
  opacity: 0.85;
  font-weight: bold;
  text-shadow: 2px 1px black;
  letter-spacing: 0.5px;
  border: 0;
}

