
.Marketboard{
  background-size: cover;
  background-image: url('../../../assets/GUI_Game/Right_Markt.png');
  width: 330px;
  height: 768px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.Wrapper{
  height: 100%;
  width: 100px;
  overflow: auto;
  margin: 0;
  padding: 0;
}

#Marketreserve{
  background-size: cover;
  background-image: url('../../../assets/GUI_Game/Right_Markt_repeat.png');
  width: 330px;
  height: 768px;
  position: absolute;
  bottom: 0;
  right: 330px;
}

