<div class="Wrapper2" [class.selected]="isActive" (click)="onSelect()">
<div class="Marketboard" >
  <div id="active" class="Slot">
    <div id="coinNumberDisplay">{{coinNumber}}</div>
      <ng-container *ngFor="let slot of activeSlot">
        <ng-container *ngIf="!slot.empty">
    <img (click)="$event.stopPropagation()" (click)="takeCard(slot)" *ngFor="let slot of activeSlot"
         [class.isNotPuchasable]="(purchasableSlotIds.indexOf(slot.slotId) == -1 && this.player.specialAction.steal == 0) || (this.player.bought==true && this.player.specialAction.steal == 0) || (slot.pile[0].coinCost > this.player.coins && this.player.specialAction.steal == 0)"
         class="position"
         src="../../../assets/Karten/{{slot.pile[0].name}}.png">
          </ng-container>
      </ng-container>
  </div>
  <div id="passive" class="Slot">
    <ng-container *ngFor="let slot of activeSlot">
      <ng-container *ngIf="!slot.empty">
    <img (click)="$event.stopPropagation()" (click)="takeCard(slot)" *ngFor="let slot of passiveSlot"
         [class.isNotPuchasable]="(purchasableSlotIds.indexOf(slot.slotId) == -1 && this.player.specialAction.steal == 0) || (this.player.bought==true && this.player.specialAction.steal == 0) || (slot.pile[0].coinCost > this.player.coins && this.player.specialAction.steal == 0)"
         class="position"
         src="../../../assets/Karten/{{slot.pile[0].name}}.png">
      </ng-container>
    </ng-container>
  </div>
</div>
</div>
