
.Marketboard{
  background-size: cover;
  background-image: url('../../../assets/GUI_Game/Right_Markt.png');
  width: 330px;
  height: 768px;
  position: absolute;
  bottom: 0;
  right: 0;
}


#coinNumberDisplay {
  position: absolute;
  top: 38px;
  right: 279px;
  /*background-color: #c7254e;*/
  width: 50px;
  height: 50px;
  color: #efdda9;
  font-size: 28px;
  font-weight: normal;
  /*text-shadow: 2px 0 0 #101010, -2px 0 0 #151414, 0 2px 0 #0e0e0e, 0 -2px 0 #0a0a0a, 1px 1px #fff, -1px -1px 0 #101010, 1px -1px 0 #0c0c0c, -1px 1px 0 #0e0e0e;*/
  text-shadow: 2px 0 0 #4a4949, -2px 0 0 #4a4949, 0 2px 0 #4a4949, 0 -2px 0 #4a4949, 1px 1px #4a4949, -1px -1px 0 #4a4949, 1px -1px 0 #4a4949, -1px 1px 0 #4a4949
}

#passive{
  margin-top: 60px;
}

#position{
  margin-left: 45px;
  margin-top: 10px;
  width: 109px;
  height: 170px;
}

#passiveposition{
  margin-left: 45px;
  margin-top: 10px;
  width: 109px;
  height: 170px;
}

#multiple{
  margin-left: 10px;
}

#multiple0{
  margin-left: 10px;
}

#multiple1{
  margin-left: 40px;
}

#multiple2{
  margin-left: 80px;
}

.isNotPuchasable{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) !important;
}

