<div class="Marketboard" [class.selected]="isActive" (click)="onSelect()">
  <div (click)="$event.stopPropagation()" id="active">
    <div id="coinNumberDisplay">{{coinNumber}}</div>
    <img *ngFor="let slot of activeSlot" [class.isNotPuchasable]="purchasableSlotIds.indexOf(slot.slotId) == -1" id="position"
         src="../../../assets/Karten/{{slot.pile[0].name}}.png"
         (click)="onSelect(slot)">
  </div>
  <div (click)="$event.stopPropagation()" id="passive">
    <img *ngFor="let slot of passiveSlot" [class.isNotPuchasable]="purchasableSlotIds.indexOf(slot.slotId) == -1" id="passiveposition"
         src="../../../assets/Karten/{{slot.pile[0].name}}.png"
         (click)="onSlotSelected(slot)">
  </div>
</div>


<!-- // show multiple cards of same type in market
<div class="Marketboard" id="marketboard" (click)="fadeInOut()">
  <div id="active">
    <div id = "position" *ngFor="let slot of activeSlot">
      <div id = "multiple" *ngFor="let Card of slot.pile">
        <img  src="../../../assets/Karten/fake{{Card.name}}.png">
      </div>
    </div>
  </div>

  <div id="passive"></div>
</div>
-->
