
button {
  background-size: cover;
  position: absolute;
  background-image: url('../../../assets/Gui_Elemente/GUI_MainMenu/menubuttons.png');
  width: 245px;
  height: 51px;
  font-family: Arial;
  color: white;
  font-size: 25px;
  font-weight: normal;

  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  left: 0px;
  /*cursor: pointer;*/
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

#menubutton-hostgame {
  top: 0px;
}

#menubutton-joingame {
  top: 80px;
}

#menubutton-manual {
  top: 160px;
}
