
button {
  background-size: cover;
  position: absolute;
  background-image: url('../../../assets/GUI_MainMenu/menubuttons.png');
  width: 245px;
  height: 51px;
  /*font-family: Arial; */
  color: white;
  font-size: 25px;
  font-weight: normal;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  left: 0;
  /*cursor: pointer;*/
  cursor: hand;
  background-color: transparent;

}

.subbutton:hover {
  background-image: url('../../../assets/GUI_MainMenu/Menubuttons_pressed.png');
}

.subbutton:active {
  background-image: url('../../../assets/GUI_MainMenu/Menubuttons_pressed.png');
}

button:hover {
  /*background-color: #cfd8dc;*/
  background-color: transparent;
  background-image: url('../../../assets/GUI_MainMenu/Menubuttons_pressed.png');
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

#menubutton-hostgame {
  top: 0;
}

#menubutton-joingame {
  top: 80px;
}

#menubutton-manual {
  top: 160px;
}

#tutorial{
  top: 240px;
}

button:focus {outline:0 !important;}

