.Character {
  background-size: cover;
  position: absolute;
  bottom: 149px;
  left: 10px;
  pointer-events: none;
}

#playerNameBox {
  position: absolute;
  left: 30px;
  bottom: 120px;
  width: 200px;
  height: 33px;
  font-size: 24px;
  opacity: 0.85;
  font-style: italic;
  font-weight: bold;
  color: #fcf6e4;
  padding: 5px 10px;
  text-shadow: 2px 1px black;
  cursor: hand;
  letter-spacing: 0.5px;
  border: 0;
}

.notCurrent {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}


#blockades{
  margin-top: 0;
  position: absolute;
  bottom: 103px;
  left: 60px;
  height: 10px;
  background-color: transparent;
}

.blockadeImg{
  height: 50px;
}
