.Character {
  background-size: cover;
  position: absolute;
  bottom: 149px;
  left: 38px;
}

#playerNameBox {
  position: absolute;
  left: 30px;
  bottom: 115px;
  width: 200px;
  height: 33px;
  color: #efdda9;
  font-size: 25px;
  font-weight: normal;
  /*text-shadow: 2px 0 0 #4a4949, -2px 0 0 #4a4949, 0 2px 0 #4a4949, 0 -2px 0 #4a4949, 1px 1px #4a4949, -1px -1px 0 #4a4949, 1px -1px 0 #4a4949, -1px 1px 0 #4a4949*/
}
