<div id="Player-Board">
  <img class="Character" [class.notCurrent]="(ownPlayerId != currentPlayerId) && showCurrent" src="../../../assets/GUI_MainMenu/Avatar_{{ownCharacterId}}.png">
  <app-card-board></app-card-board>
  <app-button-board></app-button-board>
  <div id="blockades" *ngIf="ownPlayer">
    <img *ngFor="let blockade of ownPlayer.collectedBlockades" class="blockadeImg" [class.notCurrent]="(currentPlayerId != ownPlayer.playerId) && showCurrent"
         src="./../../../assets/GUI_Game/blockades_{{ownCharacterId}}_strength{{blockade}}.png">
  </div>
</div>
