<html>
<head>
  <title>Gameboard</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="http://timmywil.github.io/jquery.panzoom/test/libs/jquery.js"></script>
  <script src="http://timmywil.github.io/jquery.panzoom/dist/jquery.panzoom.js"></script>
  <script src="http://timmywil.github.io/jquery.panzoom/test/libs/jquery.mousewheel.js"></script>
</head>
<body>
<div class="board">
  <div class="parent">
    <div class="panzoom">
      <ul id="hexGrid">
        <!--<app-hex-space *ngFor="let color of colors" id=""></app-hex-space>-->
        <li class="hex" *ngFor="let color of hexspace">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="./../../../../assets/GUI_HexSpaces/HS_"+color+"_1.jpg"/>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
