<p>
  dkjlajflkjasklfjlksajfkljasjdsskjfc
</p>
<div class="board">
  <div class="parent">
    <div class="panzoom">
      <ul id="hexGrid">
        <!--<app-hex-space *ngFor="let color of colors" id=""></app-hex-space>-->
        <li class="hex" *ngFor="let color of hexspace">
          testos di matrificos hexspaceros
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="./../../../../assets/GUI_HexSpaces/HS_Images/HS_{{color}}_1.jpg"/>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

