
<!--<div class="form-signin">-->
  <!--<h2 class="form-signin-heading">Login for SoPra Group 17</h2>-->
  <!--<label for="user_name" class="sr-only">User</label>-->
<!--<input id="user_name" type="text" class="form-control" placeholder="name" [(ngModel)]="me.name" autofocus>-->
  <!--<label for="password" class="sr-only">Username</label>-->
<!--<input id="password" type="password" class="form-control" placeholder="password"  [(ngModel)]="me.username">-->
<!--<br>-->
  <!--<div class="row">-->
    <!--<div class="col-md-6">-->
      <!--<button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">Login</button>-->
    <!--</div>-->
    <!--<div class="col-md-6">-->
      <!--<button class="btn btn-lg btn-primary btn-block" type="submit" (click)="clearfields()">Clear</button>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--</div>-->
  <!--<br>-->


  <!--<img src="assets/GUI_Game/Avatar_1.png" style="width:30px;">-->
  <!--<div>-->
    <!--<img id="menuBackground" src="assets/GUI_Game/Avatar_1.png" >-->
  <!--</div>-->



<!--</div>-->
