.Card{
  background-size: cover;
  position: absolute;
  width: 109px;
  height: 170px;
}

.Card:hover {
  background-color: #cfd8dc;
}

.Card:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.Card img{
  /*add styling for img here*/
}
