.joinbutton {
  background-size: cover;
  position: absolute;
  background-image: url('../../../assets/GUI_MainMenu/menubuttons.png');
  width: 245px;
  height: 51px;
  /*font-family: Arial; */
  color: white;
  font-size: 25px;
  font-weight: normal;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  left: 0;
  background-color: transparent;
}

.subbutton {
  position: relative;
  left: 0;
  top: 60px;
  margin-top: 6px;
  background-size: cover;
  background-image: url('../../../assets/GUI_MainMenu/Subutton.png');
  width: 218px;
  height: 45px;
  color: white;
  font-size: 20px;
  font-weight: normal;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: transparent;

}

.subbutton:visited {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed.png');
}

.subbutton:focus {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed.png');
}

.subbutton:hover {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed.png');
}

.subbutton:active {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed.png');
}

button:focus {outline:0 !important;}

.navigation {
  background-size: cover;
  position: absolute;
  width: 32px;
  height: 33px;
  background-color: transparent;
  border: none;
}

#prevRooms {
  background-image: url('../../../assets/GUI_MainMenu/Back_button.png');
  left: 91px;
  bottom: 0;
}

#prevRooms:hover {
  background-image: url('../../../assets/GUI_MainMenu/Back_button_pressed.png');
}

#prevRooms:active {
  background-image: url('../../../assets/GUI_MainMenu/Back_button_pressed.png');
}

#nextRooms {
  background-image: url('../../../assets/GUI_MainMenu/Forth_button.png');
  left: 126px;
  bottom: 0;
}

#nextRooms:hover {
  background-image: url('../../../assets/GUI_MainMenu/Forth_button_pressed.png');
}

#nextRooms:active {
  background-image: url('../../../assets/GUI_MainMenu/Forth_button_pressed.png');
}
