.joinbutton {
  background-size: cover;
  position: absolute;
  background-image: url('../../../assets/Gui_Elemente/GUI_MainMenu/menubuttons.png');
  width: 245px;
  height: 51px;
  font-family: Arial;
  color: white;
  font-size: 25px;
  font-weight: normal;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  left: 0;
  background-color: transparent;
}

.subbutton {
  left: 0;
  top: 60px;
  margin-top: 6px;
  background-size: cover;
  position: relative;
  background-image: url('../../../assets/GUI_MainMenu/Subutton.png');
  width: 218px;
  height: 45px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  font-weight: normal;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: transparent;

}

.subbutton:visited {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed.png');
}

.subbutton:focus {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed.png');
}

.subbutton:hover {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed.png');
}

.subbutton:active {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed.png');
}

button:focus {outline:0 !important;}

