#Button-Board {
  background-size: cover;
  background-image: url('../../../assets/GUI_Game/bottom_left.png');
  width: 325px;
  height: 235px;
  position: absolute;
  bottom: 0;
  left: 0;
}

button {
  background-size: cover;
  background-image: url('../../../assets/GUI_Game/Button_Endround.png');
  background-color: transparent;
  width: 180px;
  height: 44px;
  position: absolute;
  bottom: 20px;
  left: 42px;
  opacity: 0.85;
  font-style: italic;
  font-size: 16px;
  font-weight: bold;
  color: #fcf6e4;
  padding: 5px 10px;
  text-shadow: 2px 1px black;
  cursor: hand;
  letter-spacing: 0.5px;
  border: 0;
  /* font-family: Verdana; */
  /*border-radius: 4px;*/
  /* cursor: pointer; */
}

button:hover {
  background-color: transparent;
  border: 1px solid black;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.confirmEndRound {
  position: absolute;
  background-size: cover;
  width: 90px;
  height: 44px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 25px;
  font-weight: normal;
}

#endRoundYes {
  background-image: url('../../../assets/GUI_Game/Button_Endround_YES.png');
  left: 42px;
  bottom: 20px;
}

#endRoundNo {
  background-image: url('../../../assets/GUI_Game/Button_Endround_NO.png');
  left: 131px;
  bottom: 20px;
}

.notCurrent {
  opacity: 0; /* Real browsers */
  filter: alpha(opacity=0); /* MSIE */
}

#ownName {
  left: 100px;
  position: absolute;
  bottom: 114px;
  text-align: center;
  opacity: 0.85;
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
  color: #fcf6e4;
  padding: 5px 10px;
  text-shadow: 2px 1px black;
  cursor: hand;
  letter-spacing: 0.5px;
  border: 0;
}
