#Button-Board {
  background-size: cover;
  background-image: url('../../../assets/GUI_Game/bottom_left.png');
  width: 325px;
  height: 235px;
  position: absolute;
  bottom: 0;
  left: 0;
}

button {
  background-size: cover;
  background-image: url('../../../assets/GUI_Game/Button_Endround.png');
  background-color: transparent;
  width: 180px;
  height: 44px;
  position: absolute;
  bottom: 20px;
  left: 42px;
  /* font-family: Verdana; */
  font-size: 16px;
  font-weight: bold;
  color: #fcf6e4;
  padding: 5px 10px;
  text-shadow: 2px 1px black;
  cursor: hand;
  letter-spacing: 0.5px;
  border: 0;
  /*border-radius: 4px;*/
  /* cursor: pointer; */
}

button:hover {
  background-color: transparent;
  border: 1px solid black;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
