<!-- <div id="buttonboard">
  <div id="menubutton-hostgame"
    [class.selected]="button === selectedButton"
    (click)="onSelect(menubutton-hostgame)">
  </div>
  <div id="menubutton-joingame"></div>
  <div id="menubutton-manual"></div>
</div> -->

<div id="buttonboard">
<div *ngFor="let button of buttons"
     [class.selected]="button === selectedButton"
     (click)="onSelect(button)">
  <div id="{{button.id}}"></div>
</div>
</div>

<div *ngIf="selectedButton">
  {{selectedButton.action}}
</div>
