#Main-Menu-Button-Board{
  background-size: cover;
  background-image: url('../../../assets/Gui_Elemente/GUI_MainMenu/button_area.png');
  width: 245px;
  height: 768px;
  position: absolute;
  left: 90px;
  top: 0;
  background-color: transparent;
}

#Host-Game{
  background-size: cover;
  background-image: url('../../../assets/Gui_Elemente/GUI_MainMenu/menubuttons.png');
  width: 245px;
  height: 51px;
  position: absolute;
  top: 420px;
  background-color: transparent;
}

#Join-Game{
  background-size: cover;
  background-image: url('../../../assets/Gui_Elemente/GUI_MainMenu/menubuttons.png');
  width: 245px;
  height: 51px;
  position: absolute;
  top: 500px;
  background-color: transparent;
}

#Manual{
  background-size: cover;
  background-image: url('../../../assets/Gui_Elemente/GUI_MainMenu/menubuttons.png');
  width: 245px;
  height: 51px;
  position: absolute;
  top: 580px;
  background-color: transparent;
}

button {
  background-size: cover;
  background-image: url('../../../assets/GUI_Game/Button_Endround.png');
  width: 180px;
  height: 44px;
  position: absolute;
  bottom: 20px;
  left: 0;
  font-family: Arial;
  color: white;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  /*cursor: pointer;*/
  cursor: hand;
  background-color: transparent;
}

button:hover {
  /*background-color: #cfd8dc;*/
  background-color: transparent;

}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

button:focus {outline:0 !important;}


