<app-loading-screen *ngIf="loading > 0"></app-loading-screen>
<style type="text/css">body {overflow:hidden;}</style>
<div class="scrollbar">
  <div id="Screen" align="center">
  <div id="InGameScreen">
    <app-board></app-board>
    <app-opponent-board></app-opponent-board>
    <app-marketplace></app-marketplace>
    <app-player-board></app-player-board>
    <app-settings-board></app-settings-board>
  </div>
  </div>
</div>
<app-winner-screen *ngIf="lastRoundFinished" (endRequest)="showEndScreen($event)"></app-winner-screen>
