
#Screen{
  position: relative;
  margin: auto;
  width: 1366px;
  height: 768px;
}

#MainMenuScreen{
  position: absolute;
  background: url('./../../assets/GUI_MainMenu/MainBackground.jpg');
  width: 100%;
  height: 100%;
}

#Title{
  position: absolute;
  width: 566px;
  height: auto;
}

body{
  background-color: black;
}
