<div class="pop">
  <div class="gameRegion">
    <img class="centerImg text" src="./../../../assets/GUI_MainMenu/ElDorado_Schrift.png">
    <img class="centerImg winnerCharacter" src="./../../../assets/GUI_MainMenu/Avatar_${{winner[0].character}}.png">
    <!--<img class="centerImg winnerCharacter" src="./../../../assets/GUI_MainMenu/Avatar_1.png">-->
    <div class="winnerText Sentence">Eldorado was first discovered by</div>
    <div class="winnerText Name">{{winner[0].name}}!</div>
    <!--<div class="winnerText Name">Dorli</div>-->
    <button class="main" (click)="goToMainScreen()">HOME</button>
  </div>
</div>
