.pop {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1 !important;
  background-color: black;
}

.gameRegion {
  position: relative;
  margin: auto;
  width: 1366px;
  height: 768px;
  background-color: black;
  margin-top: 0;
}

.centerImg {
  margin: auto;
  margin-top: 50px;
  display: block;
}

.text {
  width: 700px;
}

.winnerCharacter {
  height: 350px;
  width: auto;
}

.winnerText {
  text-align: center;
  color: #e0b311;
  font-family: "Georgia"
}

.Sentence {
  font-size: 26px;
}

.Name {
  font-size: 38px;
}
