.pop {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1 !important;
  background-color: black;
}

.gameRegion {
  position: relative;
  margin: auto;
  width: 1366px;
  height: 768px;
  background-color: black;
  margin-top: 0;
}

.centerImg {
  margin: auto;
  margin-top: 50px;
  display: block;
}

.text {
  width: 700px;
}

.winnerCharacter {
  height: 350px;
  width: auto;
}

.winnerText {
  text-align: center;
  color: #e0b311;
  font-family: "Georgia"
}

.Sentence {
  font-size: 26px;
}

.Name {
  font-size: 38px;
}

.main {
  background-size: cover;
  position: absolute;
  bottom: 53px;
  left: 636px;
  margin: 0 auto;
  background-image: url('../../../assets/GUI_MainMenu/BackToMenu.png');
  background-color: transparent;
  width: 98px;
  height: 33px;
  border: none;
  border-radius: 4px;
  opacity: 0.85;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: #fcf6e4;
  padding: 5px 10px;
  text-shadow: 2px 1px black;
  cursor: hand;
  letter-spacing: 0.5px;
  border: 0;
}

.main:hover {
  background-image: url('../../../assets/GUI_MainMenu/BackToMenu_pressed.png');
}

.main:disabled {
  background-image: url('../../../assets/GUI_MainMenu/BackToMenu_pressed.png');
}
