<div id="hostButtons">

  <button class=button id="{{hostButton.id}}">{{hostButton.name}}</button>

  <input maxlength="10" #box class=namebutton [class.disabled]="roomIsCreated == true" (keyup)="updateRoom($event)"
         placeholder="Enter Room Name:">

  <div *ngFor="let route of displayedRoutes">
    <button class="routebutton path{{route.boardID}}"
            [class.roomRoute]="roomRouteId==route.boardID"
            [class.disabled]="roomIsCreated == true"
            id="{{route.name}}"
            (click)="onRouteSelected(route)">{{route.name}}
    </button>
  </div>

  <button class=navigation id="prevRooms" (click)="getPrev()"></button>
  <button class=navigation id="nextRooms" (click)="getNext()"></button>

</div>
