
.button {
  background-size: cover;
  position: absolute;
  background-image: url('../../../assets/Gui_Elemente/GUI_MainMenu/menubuttons.png');
  width: 245px;
  height: 51px;
  font-family: Arial;
  color: white;
  font-size: 25px;
  font-weight: normal;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  left: 0px;
  /*cursor: pointer;*/
  cursor: hand;
}

.button:hover {
  background-color: #cfd8dc;
}

.button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.subbutton {
  left: 15px;
  background-size: cover;
  position: absolute;
  background-image: url('../../../assets/GUI_MainMenu/Subutton.png');
  width: 218px;
  height: 45px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  font-weight: normal;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}

.subbutton:hover {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed.png');
}

.subbutton:disabled {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed.png');
  cursor: auto;
}

#menubutton-hostgame {
  top: 0;
}

#roomName {
  top: 60px;
}

#Route1 {
  top: 110px;
}

#Route2 {
  top: 160px;
}

#Route3 {
  top: 210px;
}

#Route4 {
  top: 260px;
}

#Route5 {
  top: 310px;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  text-decoration-color: red;
}
