
.button {
  background-size: cover;
  position: absolute;
  background-image: url('../../../assets/GUI_MainMenu/menubuttons.png');
  width: 245px;
  height: 51px;
  /* font-family: Arial; */
  color: white;
  font-size: 25px;
  font-weight: normal;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  left: 0;
  background-color: transparent;
}

#menubutton-hostgame {
  top: 0;

}

.routebutton {
  position: relative;
  top: 109px;
  margin-top: 6px;
  left: 0;
  background-size: cover;
  width: 218px;
  height: 45px;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  background-color: transparent;
  text-align: left;
  border: none;
}

.disabled {
  pointer-events: none;
}

.path0 {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_map0.png');
  top: 110px;
}

.path0:visited, .path0:focus, .path0:hover, .path0:active {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed_map0.png');
}

.path0.roomRoute.disabled {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed_map0.png');
}


.path1 {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_map1.png');
}

.path1:visited, .path1:focus, .path1:hover, .path1:active {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed_map1.png');
}

.path1.roomRoute.disabled {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed_map1.png');
}


.path2 {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_map2.png');
}

.path2:visited, .path2:focus, .path2:hover, .path2:active {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed_map2.png');
}

.path2.roomRoute.disabled {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed_map2.png');
}

.path3 {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_map3.png');
}

.path3:visited, .path3:focus, .path3:hover, .path3:active {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed_map3.png');
}

.path3.roomRoute.disabled {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed_map3.png');
}

.path4 {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_map4.png');
}

.path4:visited, .path4:focus, .path4:hover, .path4:active {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed_map4.png');
}

.path4.roomRoute.disabled {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed_map4.png');
}

.path5 {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_map5.png');
}

.path5:visited, .path5:focus, .path5:hover, .path5:active {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed_map5.png');
}

.path5.roomRoute.disabled {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed_map5.png');
}

.path6 {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_map6.png');
}

.path6:visited, .path6:focus, .path6:hover, .path6:active {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed_map6.png');
}

.path6.roomRoute.disabled {
  background-image: url('../../../assets/GUI_MainMenu/Subutton_Pressed_map6.png');
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  text-decoration-color: red;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-size: 20px;
  font-weight: normal;
  opacity: 1; /* Firefox */
}

button:focus {
  outline: 0 !important;
}

input:focus {
  outline: 0 !important;
}

.namebutton {
  left: -4px;
  top: 60px;
  background-size: cover;
  position: absolute;
  background-image: url('../../../assets/GUI_MainMenu/Inputfield_unselected.png');
  width: 252px;
  height: 45px;
  /* font-family: Arial; */
  color: white;
  font-size: 20px;
  font-weight: normal;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: transparent;
}

.namebutton:visited {
  background-image: url('../../../assets/GUI_MainMenu/Inputfield_selected.png');
}

.namebutton:focus {
  background-image: url('../../../assets/GUI_MainMenu/Inputfield_selected.png');
}

.namebutton:hover {
  background-image: url('../../../assets/GUI_MainMenu/Inputfield_selected.png');
}

.namebutton:active {
  background-image: url('../../../assets/GUI_MainMenu/Inputfield_selected.png');
}

.navigation {
  background-size: cover;
  position: absolute;
  width: 32px;
  height: 33px;
  background-color: transparent;
  border: none;
}

#prevRooms {
  background-image: url('../../../assets/GUI_MainMenu/Back_button.png');
  left: 91px;
  bottom: 0;
}

#prevRooms:hover {
  background-image: url('../../../assets/GUI_MainMenu/Back_button_pressed.png');
}

#prevRooms:active {
  background-image: url('../../../assets/GUI_MainMenu/Back_button_pressed.png');
}

#nextRooms {
  background-image: url('../../../assets/GUI_MainMenu/Forth_button.png');
  left: 126px;
  bottom: 0;
}

#nextRooms:hover {
  background-image: url('../../../assets/GUI_MainMenu/Forth_button_pressed.png');
}

#nextRooms:active {
  background-image: url('../../../assets/GUI_MainMenu/Forth_button_pressed.png');
}
