<div id="hostButtons">

  <button class=button id="{{hostButton.id}}">{{hostButton.name}}</button>

  <input #box class=namebutton (keyup)="updateRoom($event)" placeholder="Enter Room Name:">

  <div *ngFor="let route of displayedRoutes">
    <button class="routebutton path{{route.boardID}}"
            [class.routebutton-selected]="selectedRouteId==route.boardID"
            id="{{route.name}}"
            (click)="onRouteSelected(route)">{{route.name}}
    </button>
  </div>

  <button class=navigation id="prevRooms" (click)="getPrev()"></button>
  <button class=navigation id="nextRooms" (click)="getNext()"></button>

</div>
