#endAction {
  position: absolute;
  right: -90px;
  bottom: 40px;
  background-size: cover;
  background-image: url('../../../assets/GUI_Game/Button_Endround_YES.png');
  width: 90px;
  height: 44px;
  border: none;
  background-color: transparent;
  opacity: 0.85;
  font-style: italic;
  font-size: 16px;
  font-weight: bold;
  color: #fcf6e4;
  padding: 5px 10px;
  text-shadow: 2px 1px black;
  cursor: hand;
  letter-spacing: 0.5px;
  border: 0;
  line-height: 1;
}

button:focus {
  outline: 0 !important;
}
