
#Decoration{
  background-size: cover;
  background-image: url('../../../assets/GUI_Game/top_menu.png');
  width: 461px;
  height: 112px;
  position: absolute;
  top: 0;
  right: 480px;
}

.Panel{
  background-size: cover;
  background-image: url('../../../assets/GUI_Game/Upper_Settings.png');
  width: 244px;
  height: 311px;
  position: absolute;
  top: -205px;
  right: 591px;
  transition: 0.3s;
}

.settings-board{

}

.selectSettings{
  bottom: 120px;
  /* transition: 2.3s;
  background-color: transparent; */
}
