<div id="mainMenuButtonBoard">

  <div id="mainMenuButtonBoardStrip"></div>


  <div class='button-area' *ngIf="menubuttonMenuButtons">
    <app-main-menu-buttons (changeButtonsRequest)="changeButtons($event)"></app-main-menu-buttons>
  </div>

  <div class='button-area' *ngIf="myMap.get('menubutton-hostgame')">
    <app-host-buttons></app-host-buttons>
  </div>

  <div class='button-area' *ngIf="myMap.get('menubutton-joingame')">
    <app-join-buttons></app-join-buttons>
  </div>

  <button class=readyButton id="homeButton" *ngIf="homeButton" (click)="navigateToMenu()">HOME</button>

</div>
