#mainMenuButtonBoardStrip {
  background-size: cover;
  background-image: url('../../../assets/Gui_Elemente/GUI_MainMenu/button_area.png');
  width: 245px;
  height: 768px;
  position: absolute;
  left: 90px;
  top: 0;
}

.button-area {
  background-size: cover;
  /*background-color: #5bc0de;*/
  width: 245px;
  height: 350px;
  position: absolute;
  left: 90px;
  top: 350px;
}

.readyButton {
  background-size: cover;
  position: absolute;
  background-image: url('../../../assets/GUI_MainMenu/BackToMenu.png');
  width: 98px;
  height: 33px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  font-weight: normal;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}

.readyButton:hover {
  background-image: url('../../../assets/GUI_MainMenu/BackToMenu_pressed.png');
}

.readyButton:disabled {
  background-image: url('../../../assets/GUI_MainMenu/BackToMenu_pressed.png');
  cursor: auto;
}

#homeButton {
  top: 710px;
  left: 167px;
}
