<div id="opponentSpace">
  <div id="opponentDiv" *ngFor="let player of players">
    <img id="opponentImg" [class.notCurrent]="currentPlayerId != player.playerId"
         src="../../../assets/GUI_Game/Opponent_{{player.characterNumber}}.png">
    <div id="opponentName"> {{player.name}}</div>
    <div id="historyArea">
      <app-history [history]="player.history"></app-history>
    </div>
    <img *ngIf="first.playerId !== players[0].playerId" class="hut" src="../../../assets/GUI_Game/hut.png">
  </div>
</div>
