.Board{
  background-size: cover;
  width: 199px;
  height: 136px;
  position: absolute;
}

#opponentSpace
{
  width: 200px;
  top: 0;
  left: 0;
  position: absolute;
}

#opponentPos{
  margin-top: 0;
}
#o0{
  top: 0;
}

.notCurrent{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#o1{
  top: 97px;
}

#o2{
  top: 194px;
}

#o3{
  top: 291px;
}

#opponentNameBox {
  position: absolute;
  left: 34px;
  bottom: 41px;
  width: 200px;
  height: 33px;
  color: #efdda9;
  font-size: 18px;
  font-weight: normal;
  /*text-shadow: 2px 0 0 #4a4949, -2px 0 0 #4a4949, 0 2px 0 #4a4949, 0 -2px 0 #4a4949, 1px 1px #4a4949, -1px -1px 0 #4a4949, 1px -1px 0 #4a4949, -1px 1px 0 #4a4949*/
}
