.marketCard {
  position: relative;
  background-size: cover;
  bottom: 0;
  width: 9px;
  height: 100%;
  display: inline-block;
  float: left;
}

#Market-Slot {
  width: 119px;
  height: 153px;
  float: left;
  margin: 5px 5px 10px 5px;
}

.isNotPurchasable {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) brightness(90%) !important;

  /* opacity: 0.6; */
  /* filter: alpha(opacity=60); *//* MSIE */
}


