.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.characters {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.characters li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.characters li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.characters li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.characters .text {
  position: relative;
  top: -3px;
}
.characters .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

#aaa{

  background-size: cover;
  background-image: url('../../../assets/Gui_Elemente/GUI_MainMenu/Avatar_1.png');
  position: absolute;
  min-height: 350px;
  width: 258px;
  bottom: 0;
  right: 500px;
}

#sss{

  background-size: cover;
  background-image: url('./../../../assets/Gui_Elemente/GUI_MainMenu/Avatar_2.png');
  position: absolute;
  min-height: 350px;
  width: 244px;
  bottom: 0;
  right: 0;
}

#ddd{

  background-size: cover;
  background-image: url('./../../../assets/Gui_Elemente/GUI_MainMenu/Avatar_3.png');
  position: absolute;
  min-height: 350px;
  width: 362px;
  bottom: 0;
  right: 700px;
}

#fff{

  background-size: cover;
  background-image: url('./../../../assets/Gui_Elemente/GUI_MainMenu/Avatar_4.png');
  position: absolute;
  min-height: 350px;
  width: 398px;
  bottom: 0;
  right: 180px;
}
