<div *ngFor="let character of characters">

  <div class="characterUnit" id="character{{character.id}}" [class.selected]="character === selectedCharacter">
    <div class="readyTick" *ngIf="character.ready"></div>
    <div class="image" id="imagecharacter{{character.id}}" [class.grayedoutPossible]="areClickable === true"
         [class.grayedout]="character.assigned === false" (click)="onSelect(character)"></div>
    <input #namebox class="nameBox" [class.ownNameBox]="character === selectedCharacter"
           (keyup.enter)="updateUser(namebox.value)"
           placeholder={{character.name}} *ngIf="character.assigned">
    <button class=readyButton id="homeButton" *ngIf="character === selectedCharacter" (click)="onReady(character)">
      Ready
    </button>
  </div>

</div>
