button {
  background-size: cover;
  background-color: transparent;
  width: 32px;
  height: 33px;
  /* font-family: Arial; */
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  /* cursor: pointer; */
  cursor: hand;
  margin-top: 5px;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.Slot{
  width: 110px;
  height: 230px;
  margin-left: 45px;
  float: left;
  cursor: hand;
  margin-top: 3px;
  transition: 0.3s;
  background-color: transparent;
}

.Slot:hover{
  background-color: transparent;
}

.selected{
  margin-top: -50px;
  transition: 0.3s;
  background-color: transparent;
}

#Sell {
  background-image: url('../../../assets/GUI_Game/Karte_buttons_sell.png');
  bottom: -40px;
  left: 0;
}
#Sell:hover {
  background-image: url('../../../assets/GUI_Game/Karte_buttons_sell_pressed.png');
}

#Discard {
  background-image: url('../../../assets/GUI_Game/Karte_buttons_discard.png');
  bottom: -40px;
  left: 40px;
}

#Discard:hover {
  background-image: url('../../../assets/GUI_Game/Karte_buttons_discard_pressed.png');
}

#Magnify {
  background-image: url('../../../assets/GUI_Game/Karte_buttons_magnify.png');
  bottom: -40px;
  left: 80px;
}

#Magnify:hover {
  background-image: url('../../../assets/GUI_Game/Karte_buttons_magnify_pressed.png');
}

/* edit HandCard CSS in ../marketplace/card/card.component.css */
.Card{
  position: absolute;
  background-color: transparent;
  background-size: cover;
  bottom: 230px;
  left: 40px;
  cursor: hand;
}

.Card:hover{
  background-color: transparent;
  cursor: hand;
}
