<app-magnify [card]="card" [fullscreen]="isMagnified" (closeFullScreen)="magnify($event)"></app-magnify>

<div class="Slot" [class.selectedCard]="isActive" (click)="onSelect()">
  <app-card [card]="card" [removable]="specialAction.remove > 0"></app-card>
  <button id="Sell" (click)="sell()"></button>
  <button id="Discard" (click)="discard()"></button>
  <button id="Magnify" (click)="magnify(true)"></button>
  <button id="ActionCard" *ngIf="singleActionCard && isActionCard"
          (click)="performAction()">Action
  </button>
</div>
