<div [class.xOffset]="(index % (yDim * 2) >= yDim)" class="hexIn">
  <div class="hexLink" (click)="performAction()">
    <img *ngIf="isPlayingPiece" [class.notCurrent]="!isCurrent" [class.reachable]="isReachable" class="hexImg" src="./../../../../assets/GUI_HexSpaces/PlayingPieces/PlayingPiece_{{player.characterNumber}}.png"/>
    <img *ngIf="!isPlayingPiece" class="hexImg" [class.reachable]="isReachable || isRemovable" src="./../../../../assets/GUI_HexSpaces/HS_Images/HS_{{color}}_{{strength}}.PNG"/>
    <div *ngIf="isBlockade" [class.blockade]="isActive" [class.removedBlockade]="!isActive"></div>
  </div>
</div>
