.Card{
  background-size: cover;
  position: relative;
  width: 109px;
  height: 170px;
  cursor: pointer;
}

.Card:hover {
  background-color: transparent;
  cursor: hand;
}

.Card:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.Card img{
  width: 100%;
  height: 100%;
  /*add styling for img here*/
}
